@font-face {
  font-family: 'Fonte Eras Bold ITC';
  src: url(Eras-Bold-ITC_15884.ttf);
  font-family: 'scrpit-mt-bold';
  src: url(script-mt-bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
a:hover {
  opacity: 0.7;
  color: #65298A;
}
.logo
{
  margin-top: 9px;
  max-width: 355px;
  min-width: 70px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FF8459;
  height: 14vh;
  font-family: "Rubik", sans-serif;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    display: none;
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #ff8459;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }

  .rose
  {
    flex-direction: column;
    align-items: center;
  }


}
.nav-list.active {
  display: flex;
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}
.mobile-menu.active .line2 {
  opacity: 0;
}
.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* Carrosel Principal */
body {
  margin: 0;
  min-height: 100vh;
}

main
{
  max-width: 100%;
  margin: auto;
}
.carrossel {
  /*
  filter: drop-shadow(0px 0px 10px #000);*/
  overflow: hidden;
  max-width: 1200px;
  margin: auto;
  height: 95%;
  background-repeat: no-repeat;
  background-size: cover;

}
.container {
  display: flex;
  transition: 0.7s ease-in-out;
  transform: translateX(0);
  width: 100%
}
img {

  width: 100%;
  height: 100%;
}
/* Carrosel */

/* Texto com imagem */
.rose
{
  text-align: justify;
  margin: auto;
  display: flex;
  justify-content: space-around;
  height: 50%;
  margin-top: 250px;
  margin-bottom: 250px;
}
.imagem
{
  margin: 10%;
  width: 40%;
  text-align: center;
  line-height: normal;
}
.texto 
{
  font-family: "Rubik", sans-serif;
  margin: 10%;
  width: 60%;
  text-align: justify;
  justify-content: center;
  line-height: 1.3;
}
.imagem img
{
  border-radius: 5%;
  height: 100%;
  width: 100%;
}
.texto h1
{
  text-align: left;
  font-size: xx-large;
  }

/* Texto com imagem */

/* Carrosel 2 */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-image: linear-gradient(45deg, #FF8459, #65298a);
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  background-image: linear-gradient(45deg, #FF8459, #65298a);
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #65298A;
  color: #f2f2f2;
}

/* Caption text */
.text
{
  text-align: center;
  position: absolute;
  padding: 8px 12px;
  width: 100%;
  font-family: "Rubik", sans-serif;
  margin-top: 40px;
}
/* Number text (1/3 etc) */

.aulas23
{
  background-image: linear-gradient(45deg, #FF8459, #65298a);
  padding: 20px 40px;
  font-size: 24px;
  color: #f2f2f2;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

@keyframes anima
{
  0%{
    transform: scale(1);
  }
  100%
  {
    transform: scale(1.05);
  }
}
button:hover
{
  animation-name: anima;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
/* BOTÃO DAS AULAS */


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  font-family: "Rubik", sans-serif;
  background-image: linear-gradient(45deg, #FF8459, #65298a);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.carrossel2 img
{
  border-radius: 2%;
  max-height: 600px;
  border: 3px solid  black;
}
.carrossel2
{
  margin-top: 250px;
  margin-bottom: 500px;
}
/* Carrosel 2 */

/* Footer */
 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

 :root {
     --color-neutral-0: #0e0c0c;
     --color-neutral-10: #171717;
     --color-neutral-30: #a8a29e;
     --color-neutral-40: #f5f5f5;
 }
 footer {
  width: 100%;
  color: #f2f2f2;
  font-family: "Rubik", sans-serif;
  letter-spacing: 1.5px;
}

.footer-link 
{
  text-decoration: none;
}
#footer_content 
{
  background-color: var(--color-neutral-10);
  display:flex;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
  justify-content: space-evenly;
}
#footer_contacts h1 
{
  margin-bottom: 0.75rem;
}
#footer_social_media 
{
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
} 
#footer_social_media .footer-link 
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}
#footer_social_media .footer-link i 
{
  font-size: 1.25rem;    
}
#footer_social_media .footer-link:hover 
{
  opacity: 0.8;
}
#instagram 
{
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook 
{
  background-color: #4267b3;
}

#whatsapp 
{
  background-color: #25d366;
}

.footer-list 
{
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer-list .footer-link 
{
  color: var(--color-neutral-30);
  transition: all 0.4s;
}

.footer-list .footer-link:hover 
{
  color: #7f37c9;
}

#footer_subscribe 
{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe p 
{
  color: var(--color-neutral-30);
}

#input_group 
{
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-0);
  border-radius: 4px;
}

#input_group input 
{
  all: unset;
  padding: 0.75rem;
  width: 100%;
}

#input_group button 
{
  background-color: #7f37c9;
  border: none;
  color: var(--color-neutral-40);
  padding: 0px 1.25rem;
  font-size: 1.125rem;
  height: 100%;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}

#input_group button:hover 
{
  opacity: 0.8;
}

#footer_copyright 
{
  display: flex;
  justify-content: center;
  background-color: var(--color-neutral-10);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

@media screen and (max-width: 768px) 
{
  #footer_content {
    display: block;
  }
}

@media screen and (max-width: 426px) 
{
  #footer_content {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem 2rem;
  }
}
/* Footer */